* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

header * {
    color: white !important;
}

section {
    padding-top: 150px;
}

button,
a.btn {
    border: none !important;
    font-weight: 700 !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../img/3dots.png");
    background-size: contain;
}

.x-button {
    background-image: url("../img/x.png") !important;
}

.img-slider {
    overflow: hidden;
}

.logo {
    width: 90px;
}

nav .logo {
    margin: 1.6% 5%;
    position: absolute;
    top: 0;
    left: 0;
}

.shadows {
    box-shadow: 0px 3px 20px 0px #00000047 !important;
}

.shadow-logo {
    z-index: -1;
    top: 20px;
}

.floating {
    top: 300px;
    right: 10px;
    width: 60px;
    z-index: 9999;
}

.modal-content {
    border: none;
}

.floating > div {
    cursor: pointer;
}

nav.fixed-top > div {
    box-shadow: 0px 3px 20px 0px #00000047;
    height: 60px;
    top: 0;
}

nav.fixed-top .bg-white * {
    color: black !important;
}
nav.fixed-top .bg-white .btn-dark {
    color: #fff !important;
}

button:focus:not(:focus-visible) {
    box-shadow: none;
}

.scrolled-logo {
    margin-top: 0px !important;
    background: white;
    padding: 20px;
    border-radius: 50%;
}
#callOrder:hover {
    background-color: #ffbc00 !important;
    color: black !important;
}
.btn-dark:hover {
    background-color: #ffbc00 !important;
    color: black !important;
}

#aboutUs {
    margin-bottom: 100px;
}

.nav-item {
    margin: 0 18px;
}
.nav-item.bg-dark {
    border-radius: 11px;
}

.mainText {
    bottom: 0;
    width: 50%;
    margin: 5%;
}

.langsLevel2 * {
    color: black !important;
}

#first .row .col-lg-4 {
    transition: 0.6s;
    transform: perspective(1px) scale(0.95);
}

#first .row .col-lg-4:hover {
    transform: perspective(1px) scale(1);
}

#first .row .col-lg-4 div,
#packages .row .col-lg-4 div {
    box-shadow: 0px 0px 28px #3b3b3b42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
}
#first .row .col-lg-4 div > * {
    margin-bottom: 20px;
}

#first .row .col-lg-4 div > img {
    width: 100px;
}
#first .row .col-lg-4 div > button {
    transform: perspective(1px) scale(1) translateZ(0);
    backface-visibility: hidden;
}

#first .row .col-lg-4,
#packages .row .col-lg-4 {
    padding: 0 2%;
}

#first .row .col-lg-4 div p {
    padding: 0 60px;
}

#services {
    padding: 200px 0 400px;
    background-color: #ffbc00;
    transform: skewY(-11deg);
}

.m-100-neg {
    margin: -60px 0;
}

#services > div {
    transform: skewY(11deg);
}

#services > div > div > h3 {
    margin-bottom: 100px;
}

.hexs {
    min-height: 353px;
}

.hexs .col-md-3 {
    margin: 0;
}

.hexs,
.hexs .col-md-3 {
    transition: 1s;
}
.hexs-hover .col-md-3 {
    margin: -13px;
}

.hexs-hover.m-100-neg {
    margin: -72px 0;
}

.hexs img.position-absolute {
    z-index: -1;
}

.hexs h3 {
    font-size: 20px;
}

.hexs img:not(.w-100.h-100.position-absolute) {
    width: 70px;
}

#centerOfHive {
    cursor: pointer;
    width: 150px;
}

#services .text-end {
    position: relative;
    top: -100px;
    right: 10%;
}

#callback {
    /* top: -100px; */
}

#callback .col-lg-6:first-child > div {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#callback .col-lg-6:last-child > div {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#callback .col-lg-6 > div {
    background-color: #e5e5e5;
    height: 650px;
}
#callback .iti {
    width: 100%;
}

#weLove {
    padding: 5% 13%;
    z-index: -1;
}

#weCan .col-sm-6 img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#packages {
    /* background-color: #ffbc00; */
}

.border-radius-20 {
    border-radius: 20px;
}

.btrr-30 {
    border-top-right-radius: 30px;
}

.btlr-30 {
    border-top-left-radius: 30px;
}

.bblr-30 {
    border-bottom-left-radius: 30px;
}

.bbrr-30 {
    border-bottom-right-radius: 30px;
}

.btrr-65 {
    border-top-right-radius: 65px;
}

.btlr-65 {
    border-top-left-radius: 65px;
}

.bblr-65 {
    border-bottom-left-radius: 65px;
}

.bbrr-65 {
    border-bottom-right-radius: 65px;
}

.br-10 {
    border-radius: 10px;
}

#contacts {
    background-color: #747474;
}

.hive1 {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 300px;
}

.hive2 {
    z-index: -1;
    position: absolute;
    bottom: 10%;
    right: 0;
    height: 80%;
}

/* //! Our Works Hovers */

#ourWorks div a,
#ourWorks div a > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
}
#ourWorks div a:before,
#ourWorks div a:after,
a > span:before,
#ourWorks div a > span:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
}

#ourWorks div a {
    display: inline-block;
    overflow: hidden;
}
#ourWorks div a:before,
#ourWorks div a:after {
    right: 0;
    bottom: 0;
    background: #492059;
}
#ourWorks div a:before {
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
}
#ourWorks div a:after {
    width: 2px;
    height: 100%;
    transform: translateY(100%);
}
#ourWorks div a > span {
    display: flex;
    padding: 10px;
}
#ourWorks div a > span:before,
#ourWorks div a > span:after {
    left: 0;
    top: 0;
    background: #492059;
}
#ourWorks div a > span:before {
    width: 100%;
    height: 2px;
    transform: translateX(100%);
}
#ourWorks div a > span:after {
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
}
#ourWorks div a:hover:before,
#ourWorks div a:hover:after,
#ourWorks div a:hover > span:before,
#ourWorks div a:hover > span:after {
    transform: translate(0, 0);
}

/* //! Our Works Hovers */

/* //! Brandings Hovers */

#brandings div.mb-4 .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

/* //! Brandings Hovers */

/* //! Social Media Profil Card Hovers */

.icon-container {
    text-align: center;
    padding: 15px 0;
}

.icon-container a {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition-property: all 150ms ease-in-out;
    -o-transition-property: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.icon-container a,
.icon-container a:hover,
.icon-container a:active {
    text-decoration: none;
}

.social-media-pc .icon-container {
    font-size: 20px;
}
.social-media-pc .icon-container a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 30px;
}
.icon-container a {
    color: #2e3436;
}

.social-media-pc #facebook-link:hover,
.social-media-pc #facebook-link:active {
    color: #3b5998;
}
.social-media-pc #google-plus-link:hover,
.social-media-pc #google-plus-link:active {
    color: #d34836;
}
.social-media-pc #twitter-link:hover,
.social-media-pc #twitter-link:active {
    color: #55acee;
}
.social-media-pc #linkedin-link:hover,
.social-media-pc #linkedin-link:active {
    color: #0077b5;
}

/* //! Social Media Profil Card Hovers */

@media (max-width: 1400px) {
    .hexs {
        min-height: 294px;
    }

    .m-100-neg {
        margin: -50px 0;
    }

    .hexs img:not(.w-100.h-100.position-absolute) {
        width: 50px;
    }

    /* .hexs h3 {
        font-size: 22px;
    } */

    .hexs button {
        font-size: 14px;
    }
}

@media (min-width: 1000px) {
    .nav-link {
        position: relative;
    }
    .nav-link-underline:after {
        background: none repeat scroll 0 0 black;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    .underline:after {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .nav-item {
        margin: 0;
    }

    .hexs {
        min-height: 250px;
    }

    .m-100-neg {
        margin: -40px 0;
    }

    .hexs img:not(.w-100.h-100.position-absolute) {
        width: 40px;
    }

    /* .hexs h3 {
        font-size: 18px;
    } */

    .hexs button {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    nav .logo {
        position: relative;
        border-radius: 0;
        padding: 5px;
        width: 51px !important;
        top: -10px !important;
    }

    .nav-link {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .mainText {
        width: unset;
    }

    #callback .col-lg-6 > div {
        height: auto;
    }

    section {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .navbar-collapse {
        background-color: #fff !important;
    }

    header .navbar-collapse * {
        color: black !important;
    }

    #callOrder {
        display: inline-block;
        background-color: #ffbc00 !important;
        color: black !important;
    }

    #callOrder:hover {
        background-color: #212529 !important;
        color: white !important;
    }

    .navbar-collapse ul li {
        width: fit-content;
    }

    .shadow-logo {
        display: none;
    }

    #services > div > div > div {
        margin: 10px 2px;
        border-radius: 0;
        height: 350px;
    }

    #services > div > div > div > img {
        width: 100px;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
    .mainText {
        margin: 2%;
    }
    .mainText h3 {
        font-size: 16px;
    }
    .mainText p {
        font-size: 12px;
    }

    #services > div > div > div:first-child {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    #services > div > div > div:last-child {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
}
