* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

header * {
    color: white !important;
}

section {
    padding-top: 150px;
}

button,
a.btn {
    border: none !important;
    font-weight: 700 !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../img/3dots.png");
    background-size: contain;
}

.x-button {
    background-image: url("../img/x.png") !important;
}

.img-slider {
    overflow: hidden;
}

.logo {
    width: 90px;
}

nav .logo {
    margin: 1.6% 5%;
    position: absolute;
    top: 20px;
    left: 0;
}

.shadows {
    box-shadow: 0px 3px 20px 0px #00000047 !important;
}

.shadow-logo {
    z-index: -1;
    top: 20px;
}

nav.fixed-top > div {
    box-shadow: 0px 3px 20px 0px #00000047;
}

nav.fixed-top .bg-white * {
    color: black !important;
}
nav.fixed-top .bg-white .btn-dark {
    color: #fff !important;
}

button:focus:not(:focus-visible) {
    box-shadow: none;
}

.scrolled-logo {
    margin-top: 0px !important;
    background: white;
    padding: 20px;
    border-radius: 50%;
}
#callOrder:hover {
    background-color: #ffbc00 !important;
    color: black !important;
}
.btn-dark:hover {
    background-color: #ffbc00 !important;
    color: black !important;
}

#aboutUs {
    margin-bottom: 100px;
}

.nav-item {
    margin: 0 18px;
}
.nav-item.bg-dark {
    border-radius: 11px;
}

.mainText {
    bottom: 0;
    width: 50%;
    margin: 5%;
}

.langsLevel2 * {
    color: black !important;
}

#first .row .col-lg-4 {
    transition: 0.6s;
    transform: perspective(1px) scale(0.95);
}

#first .row .col-lg-4:hover {
    transform: perspective(1px) scale(1);
}

#first .row .col-lg-4 div,
#packages .row .col-lg-4 div {
    box-shadow: 0px 0px 28px #3b3b3b42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
}
#first .row .col-lg-4 div > * {
    margin-bottom: 20px;
}

#first .row .col-lg-4 div > img {
    width: 100px;
}
#first .row .col-lg-4 div > button {
    transform: perspective(1px) scale(1) translateZ(0);
    backface-visibility: hidden;
}

#first .row .col-lg-4,
#packages .row .col-lg-4 {
    padding: 0 2%;
}

#first .row .col-lg-4 div p {
    padding: 0 60px;
}

#services {
    padding: 200px 0 400px;
    background-color: #ffbc00;
    transform: skewY(-11deg);
}

.m-100-neg {
    margin: -60px 0;
}

#services > div {
    transform: skewY(11deg);
}

.hexs {
    min-height: 353px;
}

.hexs .col-md-3 {
    margin: 0;    
}

.hexs,.hexs .col-md-3 {
    transition: 1s;
}
.hexs-hover .col-md-3 {
    margin: -13px;    
}

.hexs-hover.m-100-neg {
    margin: -72px 0;
}

.hexs img.position-absolute {
    z-index: -1;
}

.hexs img:not(.w-100.h-100.position-absolute) {
    width: 70px;
}

#centerOfHive {
    cursor: pointer;
    width: 150px;
}



#services .text-end {
    position: relative;
    top: -100px;
    right: 10%;
}

#callback {
    top: -100px;
}

#callback .col-lg-6:first-child > div {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#callback .col-lg-6:last-child > div {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#callback .col-lg-6 > div {
    background-color: #e5e5e5;
    height: 650px;
}
#callback .iti {
    width: 100%;
}

#weLove {
    padding: 5% 13%;
    z-index: -1;
}

#weCan .col-sm-6 img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#packages {
    background-color: #ffbc00;
}

.border-radius-20 {
    border-radius: 20px;
}

.btrr-30 {
    border-top-right-radius: 30px;
}

.btlr-30 {
    border-top-left-radius: 30px;
}

.bblr-30 {
    border-bottom-left-radius: 30px;
}

.bbrr-30 {
    border-bottom-right-radius: 30px;
}

.btrr-65 {
    border-top-right-radius: 65px;
}

.btlr-65 {
    border-top-left-radius: 65px;
}

.bblr-65 {
    border-bottom-left-radius: 65px;
}

.bbrr-65 {
    border-bottom-right-radius: 65px;
}

#contacts {
    background-color: #747474;
}

.hive1 {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 300px;
}

.hive2 {
    z-index: -1;
    position: absolute;
    bottom: 10%;
    right: 0;
    height: 80%;
}












@media (max-width: 1400px) {
    .hexs {
        min-height: 294px;
    }

    .m-100-neg {
        margin: -50px 0;
    }

    .hexs img:not(.w-100.h-100.position-absolute) {
        width: 50px;
    }
    
    .hexs h3 {
        font-size: 22px;
    }

    .hexs button {
        font-size: 14px;
    }
}

@media (min-width: 1000px) {
    .nav-link {
        position: relative;
    }
    .nav-link-underline:after {
        background: none repeat scroll 0 0 black;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    .underline:after {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .nav-item {
        margin: 0;
    }

    .hexs {
        min-height: 250px;
    }

    .m-100-neg {
        margin: -40px 0;
    }

    .hexs img:not(.w-100.h-100.position-absolute) {
        width: 40px;
    }
    
    .hexs h3 {
        font-size: 18px;
    }

    .hexs button {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    nav .logo {
        width: 100px;
        position: relative;
        border-radius: 0;
        height: unset;
        top: 0;
    }

    .nav-link {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .mainText {
        width: unset;
    }

    #callback .col-lg-6 > div {
        height: auto;
    }

    section {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .navbar-collapse {
        background-color: #fff !important;
    }

    header .navbar-collapse * {
        color: black !important;
    }

    #callOrder {
        display: inline-block;
        background-color: #ffbc00 !important;
        color: black !important;
    }

    #callOrder:hover {
        background-color: #212529 !important;
        color: white !important;
    }

    .navbar-collapse ul li {
        width: fit-content;
    }

    .shadow-logo {
        display: none;
    }

    #services > div > div > div {
        margin: 10px 2px;
        border-radius: 0;
        height: 350px;
    }

    #services > div > div > div > img {
        width: 100px;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
    .mainText {
        margin: 2%;
    }
    .mainText h3 {
        font-size: 16px;
    }
    .mainText p {
        font-size: 12px;
    }

    #services > div > div > div:first-child {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    #services > div > div > div:last-child {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
}
