* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 130px;
}
nav .logo {
    margin: 3.6% 5%;
    position: absolute;
    top: 0;
    left: 0;
}


@media(max-width:992px) {
    nav .logo {
        
        position: relative;
        width: unset;
        height: 40px;
    }
}